@tailwind base;
@tailwind components;
@tailwind utilities;

button, .custom-blue {
    background-color: #1683d1 !important;
}

.custom-home {
    background-color: #eef5fb;
}

.custom-bg {
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}